<template>
  <div>
    <div>Player name: <input type="text" v-model="sync_name" /></div>
      <div>
        Choose your hand:
          <div v-for="rank in ranks">
            <span v-for="suit in suits">
              <input type="checkbox" :value="rank + suit.val" v-model="sync_cards" />
              <label :for="rank + suit.val">{{rank}} of {{suit.name}}</label>
            </span>
          </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Player',
  props: ['name', 'cards'],
  computed: {
      sync_name: {
          get() { return this.name },
          set(val) {
              this.$emit('update:name', val)
          }
      },
      sync_cards: {
          get() { return this.cards },
          set(val) {
              this.$emit('update:cards', val)
          }
      }
  },
  data () {
    return {
      suits: [{name: 'Diamonds', val: 'D'}, {name: 'Hearts', val: 'H'}, {name: 'Spades', val: 'S'}, {name: 'Clubs', val: 'C'}],
      ranks: ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']
    }
  }
}
</script>
