<template>
  <div class="hello">
    <h1>Let's play some poker!</h1>

    <form >
      <ul>
        <div v-for="(player, index) in players">
          <li>
            <h2>Player {{ index + 1 }}</h2>
            <player :name.sync="player.name" :cards.sync="player.cards"></player>
          </li>
        </div>
      </ul>
      <button v-if="players.length < 2" v-on:click="players.push({name: '', cards: []})">Add a player</button>
      <button type="submit" v-on:click="getWinner">See who wins</button>
    </form>
    {{players}}
  </div>
</template>

<script>
import Player from '@/components/Player'
import axios from 'axios'

export default {
  name: 'Poker',
  components: {Player},
  data () {
    return {
      players: [],
      winner: ''
    }
  },
  methods: {
    getWinner: function(){
      axios.post('/api/poker', {players: this.players})
        .then(response => this.winner = response.data)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
